.main_background {
    background-image: linear-gradient(to right, #2190ff, #6ec1ff);
    width: 2500px;
    border-radius: 2%;
}
.my-btn {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.order_container {
    margin-top: 100px;
    margin-left: 450px;
    position: relative;
    max-width: 600px;
    background-color: rgb(54, 164, 255);
    padding: 20px;
    border-radius: 10px;
    height: 400px;
}