{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" 
  style="width: 1300px; margin: auto; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 10px;">
      <div class="container-fluid">
      <a class="navbar-brand">Sol-sol!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
<div class="container mt-4">
    <h2>Ваш кошик</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Назва страви</th>
                <th>Кількість</th>
                <th>Ціна за одиницю</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.dish.name }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td>{{ cart_item.dish.price }} ГРН</td>
                <td>
                    <a href="{% url 'delete_from_cart' cart_item.id %}" class="btn btn-danger btn-sm">Видалити</a>
            </tr>
            {% endfor %}

            {% if not cart_items %}
            <tr>
                <td colspan="3">Ваш кошик порожній.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if cart_items %}
        <h3>Загальна сума: {{ cart.total_price }} ГРН</h3>
        <a href="{% url 'order' %}" class="btn btn-success">Оформити замовлення</a>
    {% endif %}

{% endblock %}