{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Ваш кошик</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Назва страви</th>
                <th>Кількість</th>
                <th>Ціна за одиницю</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.dish.name }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td>{{ cart_item.dish.price }} ГРН</td>
                <td>
                    <a href="{% url 'delete_from_cart' cart_item.id %}" class="btn btn-danger btn-sm">Видалити</a>
            </tr>
            {% endfor %}

            {% if not cart_items %}
            <tr>
                <td colspan="3">Ваш кошик порожній.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if cart_items %}
        <h3>Загальна сума: {{ total_price }} ГРН</h3>
        <a href="{% url 'order' %}" class="btn btn-success">Оформити замовлення</a>
    {% endif %}

{% endblock %}