{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-4" style="max-width: 500px; background-color: red;">
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{{ dish.image.url }}" class="img-fluid" alt="{{ dish.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ dish.name }}</h2>
            <p>{{ dish.description }}</p>
            <p>Ціна: {{ dish.price }} ГРН / {{ dish.simelions }} §</p>
            <a href="" class="btn btn-primary">Додати до кошика</a>
        </div>
    </div>
</div>
{% endblock %}