{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-4" style="max-width: 1200px; background-color: rgb(54, 164, 255);">
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{{ dish.image.url }}" class="img-fluid" alt="{{ dish.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ dish.name }}</h2>
            <p>{{ dish.description }}</p>
            <p>Ціна: {{ dish.price }} ГРН / {{ dish.simelions }} §</p>
            <a href="{% url 'add_to_cart' dish.id %}" class="btn btn-primary">Додати до кошика</a>
        </div>
    </div>
</div>

<h3>Відгуки</h3>

{% for review in reviews %}
    <div class="review">
        <strong>{{ review.user.username }}</strong>
        <span>⭐ {{ review.rating }}</span><br>
        <p>{{ review.text }}</p>
        <small>{{ review.created_at|date:"d.m.Y H:i" }}</small>
    </div>
    <hr>
{% empty %}
    <p>Поки що відгуків немає</p>
{% endfor %}

{% if form %}
    <form method="post" action="{% url 'add_review' dish.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Надіслати</button>
    </form>

{% elif not user.is_authenticated %}
    <p>Увійдіть, щоб залишити відгук</p>

{% else %}
    <p>Ви вже залишили відгук</p>
{% endif %}

{% endblock %}