{% extends 'base.html' %}

{% block content %}

<div class="container main_background">

  <div class="container mt-4" >
    <div class="row mt-4" style="padding: 40px;">
      {% for dish in dishes %}
          <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
              <div class="col-md-4">
              <img src="{{ dish.image.url }}" class="img-fluid rounded-start" alt="{{ dish.name }}">
              </div>
              <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">{{ dish.name }}</h5>
                  <p class="card-text">{{ dish.description }}</p>
                  <p class="card-text">{{ dish.price }} ГРН / {{ dish.simelions }} §</p>
                  <a href="{% url 'add_to_cart' dish.id %}" class="my-btn">Додати до кошика</a>
                  <a href="{% url 'dish_detail' dish.id %}" class="btn btn-secondary">Детальніше</a>
              </div>
              </div>
          </div>
          </div>
          
      {% endfor %}
    </div>
  </div>
</div>









{% endblock %}